* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
}
body.darkMode {
  background: #222d37;
  color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

li {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  font-weight: bold;
}
.nav.darkMode {
  background: #222d37;
}
.nav__container {
  max-width: 414px;
  margin: 0 auto;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  padding-top: 60px;
  max-width: 414px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 20px;
}

.countries__searchSection {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.countries__searchInput {
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 9px 3px #efefef;
  width: 100%;
}
.countries__searchInputSec {
  position: relative;
  padding-bottom: 1rem;
}
.countries__searchInputSec::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../assets/icons8-search-30.png") no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 25px;
}
.countries__searchDropdown {
  padding: 1.5rem 3rem;
  font-size: 16px;
  box-shadow: 0 2px 9px 3px #efefef;
  width: 100%;
}
.countries__searchDropdown.darkMode {
  box-shadow: 0 2px 9px 3px #161e27;
}
.countries__orderSelectDropdown {
  padding: 1.5rem 3rem;
  font-size: 16px;
  box-shadow: 0 2px 9px 3px #efefef;
  width: 100%;
  margin-bottom: 1rem;
}
.countries__orderSelectDropdown.darkMode {
  box-shadow: 0 2px 9px 3px #161e27;
}
.countries__countryCard {
  max-width: 280px;
  margin: 3rem auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 9px 3px #efefef;
  transition: transform 0.5s ease;
  transform: none;
}
.countries__countryCard:hover {
  transform: scale(1.05);
}
.countries__countryCard.darkMode {
  background: #222d37;
  color: #dadada;
  box-shadow: 0 2px 9px 3px #161e27;
}
.countries__countryCard__imageContainer {
  vertical-align: bottom;
  width: 280px;
  height: 160px;
}
.countries__countryCard img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  vertical-align: bottom;
  width: 280px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.countries__countryCardDiv {
  padding: 2rem;
}
.countries__countryCardDiv h3 {
  padding-bottom: 2rem;
}
.countries__countryCardDiv p {
  padding-bottom: 0.5rem;
}
.countries__countryName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.countries__countryName ion-icon {
  font-size: 24px;
  cursor: pointer;
}
.countries__countryCardData {
  display: inline-block;
  color: #787878;
  padding-left: 0.1rem;
}

.countries__searchSection.darkMode .countries__searchInputSec::before {
  background: url("../assets//white-icons8-search.png") no-repeat center center/auto 100%;
}
.countries__searchSection.darkMode .countries__searchInput {
  box-shadow: 0 2px 9px 3px #161e27;
  background: #222d37;
  color: #dadada;
}
.countries__searchSection.darkMode .countries__searchInput::-moz-placeholder {
  color: #dadada;
}
.countries__searchSection.darkMode .countries__searchInput:-ms-input-placeholder {
  color: #dadada;
}
.countries__searchSection.darkMode .countries__searchInput::placeholder {
  color: #dadada;
}
.countries__searchSection.darkMode .countries__searchDropdown {
  box-shadow: 0 2px 9px 3px #161e27;
  background: #222d37;
  color: #dadada;
}
.countries__searchSection.darkMode .countries__orderSelectDropdown {
  box-shadow: 0 2px 9px 3px #161e27;
  background: #222d37;
  color: #dadada;
}

.countries__countryListSection.darkMode .countries__countryCard {
  box-shadow: 0 2px 9px 3px #161e27;
  background: #222d37;
  color: #dadada;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../assets/greg-rosenke-3ULMRQZ5APA-unsplash.jpg");
  background-size: cover;
  background-position: 25% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

.homepage {
  padding: 4rem 2rem;
  letter-spacing: -0.5px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
}
.homepage__overlayTitle {
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 0.2rem;
  text-shadow: 1px 2px 4px #808080;
}
.homepage__description {
  padding-bottom: 2rem;
  text-shadow: 1px 2px 4px #808080;
}
.homepage__startBtn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding: 0.6rem 2rem;
  font-weight: bold;
  font-size: 16px;
  background: linear-gradient(#00ffe6, #8c93e3);
  box-shadow: 0 3px 6px #fff;
  transition: all 0.3s ease;
}
.homepage__startBtn:hover {
  transform: scale(1.1);
}

/* media query */
@media screen and (min-width: 768px) {
  .nav__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .wrapper {
    padding: 0 32px;
  }

  .countries__countryListSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .countries__searchDropdown {
    max-width: 400px;
    margin: 0 auto;
  }
  .countries__orderSelectDropdown {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1300px) {
  .nav__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .wrapper {
    padding: 0 64px;
  }

  .countries__searchSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .countries__searchInput {
    margin-bottom: 0;
    min-width: 500px;
    min-height: 68px;
  }
  .countries__countryListSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .countries__countryCard {
    margin: 2.3rem 0;
    flex-basis: auto;
  }
  .countries__countryCardDiv h3 {
    padding-bottom: 0;
    min-height: 70px;
  }
  .countries__selectSec {
    display: flex;
    flex-direction: row;
    min-width: 480px;
  }
  .countries__searchDropdown {
    max-width: 250px;
  }
  .countries__orderSelectDropdown {
    max-width: 200px;
    margin-bottom: 0;
  }

  .backdrop {
    background-position: 40% 50%;
    padding-bottom: 0;
  }

  .homepage {
    padding: 6rem;
    background: rgba(255, 242, 242, 0.7);
    text-align: center;
  }
  .homepage__overlayTitle {
    font-size: 40px;
    line-height: 44px;
  }
  .homepage__description {
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
    font-size: 20px;
  }
}
.view {
  padding-top: 100px;
  background: red;
}

.animate {
  -webkit-animation: animating;
          animation: animating;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes animating {
  0% {
    transform: translateY(10%);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes animating {
  0% {
    transform: translateY(10%);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */